header{
    padding-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    nav{
        display: flex;
        i{
            position: absolute;
            left: 20px;
            font-size: 25px;
            color: black;
        }        
    }    
}