@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid transparent;
  cursor: pointer;
}
.btn_explorer {
  width: 240px;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: #FF79DA;
  background: radial-gradient(circle, #ff79da 0%, #c156a3 100%);
  padding: 15px;
  color: white;
  font-size: large;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.btn_explorer:hover {
  opacity: 0.9;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn_fonction {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: medium;
  font-weight: 600;
  width: 320px;
  text-align: left;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.btn_fonction span {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: small;
  color: white;
  margin-right: 10px;
  position: relative;
  left: -20px;
}
.btn_fonction i {
  color: gray;
  padding-right: 30px;
  font-size: 17px;
}
.btn_fonction:hover {
  background-color: #9356dc21;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn_fonction:hover i {
  color: #9356DC;
}

#cards {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#cards a {
  text-decoration: none;
  color: black;
}

.restocard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15);
}
.restocard img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restocard__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restocard__description .cardtext h3 {
  margin: 15px 0 5px 15px;
}
.restocard__description .cardtext h4 {
  font-weight: 100;
  margin: 0 0 20px 15px;
}
.restocard__description .coeur {
  display: flex;
}
.restocard__description .coeur span {
  background-color: #99E2D0;
  padding: 8px;
  color: green;
  border-radius: 2px;
  font-weight: 600;
  position: relative;
  bottom: 150px;
  left: 45px;
}
.restocard__description .coeur svg {
  margin-right: 20px;
}
.restocard__description .coeur #svg_1 {
  fill-opacity: 0;
}
.restocard__description .coeur #svg_1:hover {
  fill-opacity: 1;
  stroke: none;
}
.restocard:hover {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

header {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#footer {
  background-color: #424242;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
@media only screen and (min-width: 750px) {
  #footer {
    align-items: center;
  }
}
#footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0;
  padding-left: 5px;
}
#footer ul {
  padding: 0;
}
#footer ul li {
  list-style: none;
  padding: 5px;
}
#footer ul li i {
  padding-right: 10px;
  font-size: 15px;
}
#footer ul li a {
  text-decoration: none;
  color: white;
}
#footer ul li:nth-child(1) i {
  padding-right: 13px;
}
#footer ul li:nth-child(2) i {
  font-size: 12px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.top_search {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 10px 14px -8px #DBDBDB;
}
.top_search input {
  border: none;
  padding-left: 10px;
  align-items: center;
  background-color: #f2f2f2;
  font-size: medium;
}
.top_search i {
  font-size: 17px;
}
.top_text {
  text-align: center;
  margin: 5px 15px 5px 15px;
}
.top_text h1 {
  margin: 30px 0 5px 0;
}
.top_text h4 {
  font-weight: 100;
  font-size: large;
  margin: 5px 0 30px 0;
}

#fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#restaurants {
  background-color: #f2f2f2;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
