#cards{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    a{
        text-decoration: none;
        color: black;
    }
    
}
.restocard{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow:  3px 5px 5px rgb(0 0 0 / 15%);
    img{
        object-fit: cover;
        height: 150px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cardtext{
            h3{
                margin: 15px 0 5px 15px;
            }
            h4{
                font-weight: 100;
                margin: 0 0 20px 15px;
            }
        }
        span{
            background-color: $color-tertiaire;
            padding: 8px;
            color: green;           
            border-radius: 2px;
            font-weight: 600;
            position: relative;
            bottom: 160px;
            left: 27px;
        }
    }
    &:hover{
        box-shadow:  3px 5px 5px rgb(0 0 0 / 30%);
    }    
}