.coeur{
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
    position: relative;
    margin-right: 10px;
    .anicoeur-back{
        position: absolute;
        left: 0;
        z-index: -1;
        stroke: none;
    }
    path{
        transform-origin: bottom;
    }
    .anicoeur-main{
        path{
            &:hover{
            animation: coeur 1500ms forwards;
        }
        }
        
    }
}