.spinner{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    &__bar{
        background: linear-gradient($color-primary,$color-secondary);
        height: 100%;
        width: 20px;
        animation: bars 1000ms backwards infinite;
        animation-direction: alternate;
        @include delayloader
    }
}