.imgtop{
    img{
        object-fit: cover;
        height: 350px;
        width: 100%;
    }
    position: absolute;
    z-index: -1;
}
.menu{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $back-gris;
    margin-top: 310px;
    h1{
        font-family: 'Shrikhand',cursive;
        font-weight: 400;
    }
    h2{
        margin: 15px;
        padding-bottom: 5px;
        font-weight: 100;
        font-size: larger;
        border-bottom: 3px solid $color-tertiaire;
        width: 48px;
    }
    &_carte{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    &_titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    &_text{
        animation: menu 1500ms backwards;
        background-color: white;
        border-radius: 20px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        width: 350px;
        @include ellipsis;
        position: relative;
        //font-size: medium;
        h3{
            margin: 0;
            padding: 10px 0 0 15px;
            @include ellipsis;
            font-size: large;
        }
        .menu_description{
            display: flex;
            justify-content: space-between;
            h4{
                margin: 5px;
                font-weight: 100;
                padding: 10px;
                @include ellipsis;
            }
            span{
                @include flex-center;
                padding-right: 15px;
                transition: 400ms ease-in;
                font-weight: bold;
            }
            .check{
                background-color: $color-tertiaire;
                position: absolute;
                border-top-right-radius: 18px;
                border-bottom-right-radius: 20px;
                right: 0;
                top: 0;
                transition: all 500ms ease-in-out;
                transform-origin: right;
                transform: scaleX(0);
                i{
                    @include flex-center;
                    color: white;
                    height: 82px;
                    width: 70px;
                    font-size: 25px;
                }
            }
        }
        &:hover{
            
            
            .menu_description{
                .check{
                    transform: scaleX(1);
                }
                i{
                    animation: menurotation 1s ease-in-out backwards;
                }
                span{
                    margin-right: 60px;
                }
            }
        }        
        @include delaymenu
    }
}

.commander{
    text-align: center;
}